/.DS_Store
/.ipynb_checkpoints
/.localized
/Auto
/Bet
/Développeur Logiciel Stagiaire (Hiver 2022) - Software Development Intern (Winter 2022) _ My Experience_files
/ECG
/HW
/Logisim.app
/ManageM
/Microsoft OneNote.app
/Nocean
/Notion.app
/Screen Shot 2021-10-03 at 7.17.03 PM.png
/Screen Shot 2021-11-03 at 5.07.32 PM.png
/Screen Shot 2021-11-27 at 8.40.24 PM.png
/Screen Shot 2021-11-28 at 2.00.18 PM.png
/SelfControl.app
/Sort
/any.rdp
/hsvlower.png
/hsvupper.png
/pradaa
/rodls
/rudfur
/simple.jpeg
/slide1-l.jpeg
/tumblr_ornxxa7dgw1w9jjfno1_1280.png
/~$mgi2_ Wave-Particle Duality to Single and Double-Slit Experiments with Neutrons and Electrons.docx